@font-face {
  font-family: "iconfont"; /* Project id 3316206 */
  src: url('iconfont.woff2?t=1650871693027') format('woff2'),
       url('iconfont.woff?t=1650871693027') format('woff'),
       url('iconfont.ttf?t=1650871693027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-jia:before {
  content: "\e602";
}

.icon-jian:before {
  content: "\e601";
}

.icon-add:before {
  content: "\e661";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-zhankai:before {
  content: "\e655";
}

.icon-shaixuanguolv:before {
  content: "\e8d7";
}

.icon-sousuo1:before {
  content: "\e7b7";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-weizhi:before {
  content: "\e600";
}

